Django==5.0.14
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
mysqlclient
pymysql
whitenoise
gunicorn
google-generativeai
openpyxl
pandas
requests
Pillow
redis
cryptography
psutil
django-filter
PyJWT
bcrypt
twilio
python-dateutil
tzdata
pytz
sqlparse
asgiref
typing-extensions
packaging
numpy
setuptools
wheel
