Django==5.0.14
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
mysqlclient
PyMySQL
celery
redis
django-redis
whitenoise
drf-spectacular
PyMuPDF
google-generativeai
requests
twilio
gunicorn
aiokafka
pytest-django
black
isort
